@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&family=Open+Sans:wght@400;500;600;700;800&display=swap");

@import "reset.css";
@import "btn.css";

@import "main.css";

body {
  font-family: "Nunito", sans-serif;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

input:focus {
  outline: none;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}
